@charset "UTF-8";

/* browser reset */

@media all {
/* Global reset of paddings and margins for all HTML elements */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Correction:margin/padding reset caused too small select boxes. */
option {
	padding-left: 0.4em;
} /* LTR */
select {
	padding: 1px;
}
/* (en) Global fix of the Italics bugs in IE 5.x and IE 6 */
* html body * {
	overflow: visible;
}
body {
	font-size: 100.01%; /* Fix for rounding errors when scaling font sizes in older versions of Opera browser */
	background: #fff;
	color: #000;
	text-align: left; /* LTR */
	line-height: 1;
}
/* avoid visible outlines on DIV containers in Webkit browsers */
div {
	outline: 0 none;
}
/* HTML 5 - adjusting visual formatting model to block level */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Hide number or bullet in lists */
ol, ul {
	list-style: none;
}
/* Clear borders for <fieldset> and <img> elements */
fieldset, img {
	border: 0 solid;
}
/* hide quotes */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* table fix collapse and spacing */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Clear borders/outline for links when you click */
a:active {
	border: 0 none;
	outline: 0 none;
}
}
 @media print {
.noprint {
	display: none !important;
}
}
/* End browser reset */

body {
}
div {
	outline: 1px solid #666666;
}
div.container {
	width: 940px;
	height: 1196px;
	margin: 0 auto;
	background-image: url(Project-layout.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding: 0.1px 0px;
}
div.clear {
	width: 0;
	height: 0;
	clear: both;
}
/*-----------------start header----------- */
div.header {
	height: 195px;
	width: 940px;
}
div.child1-header {
	width: 253px;
	height: 176px;
	margin-top: 7px;
	margin-left: 10px;
	float: left;
	background-color: #FFF;
}
div.child1-header img {
	margin-top: -22px;
}
div.child2-header {
	width: 668px;
	height: 187px;
	margin-left: 272px;
	padding-top: 7px;
}
div.child2-1-header {
	width: 500px;
	height: 33px;
	margin-left: 49px;
	background-color: #FFF;
}
div.menu-header ul {
	list-style-type: none;
}
div.menu-header ul li {
	float: left;
}
div.menu-header ul li a {
	display: block;
	padding: 9px 19px;
	color: #999;
	text-decoration: none;
	text-transform: capitalize;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 14px;
}
div.menu-header li:hover a {
	color: #000;
}
div.child2-2-header {
	width: 619px;
	height: 115px;
	margin-left: 49px;
	margin-top: 21px;
	background-color: #FFF;
}
.h1-header {
	font-family: "ColaborateThinRegular", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 23px;
	color: #666;
	line-height: 32px;
}
.h2-header {
	font-family: "ColaborateThinRegular", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 17px;
	color: #999;
	line-height: 24px;
}
/*-----------------end header----------- */



/*-----------------Start content----------- */
.img:hover {
	opacity: 0.8
}
div.content-up {
	width: auto;
	height: 310px;
	background-color: #FFF;
	position: relative;
}
div.child1-content-up {
	position: absolute;
	right: 0;
	bottom: 72px;
	background: black;
	color: white;
	opacity: 0.8;
	width: 231px;
	height: 60px;
	z-index: 89;
}
div.child1-content-up p {
	font-family: "ColaborateThinRegular", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 17px;
	padding-top: 9px;
	padding-left: 11px;
}
div.content-middle {
	height: 251px;
	width: auto;
	padding: 54px 0px;
}
div.child1-content-middle {
	height: 281px;
	width: 300px;
	float: left;
	background-color: #FFF;
	position: relative;
}
div.child1-content-middle h3, div.child2-content-middle h3, div.child3-content-middle h3 {
	position: absolute;
	left: 0;
	top: -10px;
	background: #DEDC00;
	padding: 0 10px;
	margin: 0;
	z-index: 2;
	text-shadow: #ECEB9F 1px 1px 2px;
}
div.child1-content-middle h3 a, div.child2-content-middle h3 a, div.child3-content-middle h3 a {
	text-decoration: none;
	color: #525251;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 30px;
}
div.child1-content-middle p, div.child2-content-middle p, div.child3-content-middle p {
	color: #999;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 23px;
	margin-top: 20px;
	text-align: justify;
}
div.child2-content-middle {
	height: 281px;
	width: 300px;
	float: left;
	background-color: #FFF;
	margin-left: 19px;
	position: relative;
}
div.child3-content-middle {
	height: 281px;
	width: 300px;
	margin-left: 640px;
	background-color: #FFF;
	position: relative;
}
/*----End content middle---- */

/*----Start content-down---- */
div.content-down {
	width: auto;
	height: 215px;
	padding: 7px 0px;
}
/*----Start child1-content-down---- */
div.child1-content-down {
	height: 200px;
	width: 220px;
	float: left;
	background-color: #FFF;
}
div.child1-content-down h4 {
	color: #525251;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 1px 1px white;
	padding-bottom: 20px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
}
div.child1-content-down a {
	color: #828280;
	text-decoration: none;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 25px;
}
div.child1-content-down a:hover {
	color: #000;
}
/*----Start child2-content-down------------------------ */
div.child2-content-down {
	height: 200px;
	width: 220px;
	float: left;
	margin-left: 20px;
	background-color: #FFF;
}
div.child2-content-down h4 a {
	display: block;
	background: url(footer_icon_rss.gif);
	background-repeat: no-repeat;
	padding-left: 18px;
	color: #3C3C3C;
	font-size: 13px;
	text-decoration: none;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
	font-size: 13px;
	text-transform: uppercase;
}
div.child2-content-down ul {
	list-style-type: none;
}
div.child2-content-down ul li {
	margin-bottom: 9px;
	padding-left: 10px;
	background: url(chevrons.gif);
	background-repeat: no-repeat;
	background-position: center left;
	line-height: 16px;
}
div.child2-content-down ul li a {
	text-decoration: none;
	color: #828280;
	font-size: 11px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
}
div.child2-content-down a:hover {
	color: #000;
}
.opacity:hover {
	opacity: 0.8;
}
/*----Start child3-content-down------------------------ */
div.child3-content-down {
	height: 200px;
	width: 220px;
	float: left;
	background-color: #FFF;
	margin-left: 20px;
}
div.child3-content-down h4 {
	color: #525251;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 1px 1px white;
	padding-bottom: 20px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
}
p.tell {
	display: block;
	background: url(tell.jpg);
	background-repeat: no-repeat;
	padding-left: 25px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	color: #828280;
	margin-bottom: 8px;
}
p.mail {
	display: block;
	background: url(mail.jpg);
	background-repeat: no-repeat;
	padding-left: 25px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	color: #828280;
	margin-bottom: 8px;
}
p.mail a {
	text-decoration: none;
	color: #828280;
}
p.post {
	display: block;
	background: url(post.jpg);
	background-repeat: no-repeat;
	padding-left: 25px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	color: #828280;
	margin-bottom: 25px;
}
p.link {
	display: block;
	background: url(link.jpg);
	background-repeat: no-repeat;
	padding-left: 25px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	color: #828280;
}
.link-2 {
	background: none;
}
p.link a {
	text-decoration: none;
	color: #333;
}
.tell-2, .mail-2, .post-2 {
	padding: 2px 4px;
	background: #DEDC00;
}
.opacity-2:hover {
	opacity: 0.8;
	text-decoration: underline;
}
/*----Start child4-content-down------------------------ */
div.child4-content-down {
	height: 200px;
	width: 220px;
	margin-left: 720px;
	background-color: #FFF;
}
div.child4-content-down h4 {
	color: #525251;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 1px 1px white;
	padding-bottom: 20px;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
}
.child4-content-down-up {
	color: #828280;
	font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
	text-align: justify;
	line-height: 1.4em;
	font-size: 11px;
}
.input-mail {
	margin: 10px 0px;
	background: #E3E1DD;
	color: #A0A09E;
	font-size: 10px;
	border: 1px solid #CECDC8;
	height: 33px;
	width: 70%;
	padding: 0px 0.7em;
	float: left;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.input-mail-submit {
	margin: 10px 0 12px 2px;
	padding: 0 6px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	background: #C7C6C4;
	color: #6A6A69;
	font-size: 10px;
	height: 33px;
	border: 1px solid #B7B5B2;
	width: 15%;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.child4-content-down-down {
	font-size: 9px;
	line-height: 12px;
	color: #ADACAB;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
/*----Start footer------------------------ */
div.footer {
	height: 73px;
	width: 940px;
	padding-top: 30px;
}
div.child1-footer {
	height: 30px;
	width: 284px;
	float: left;
	background-color:#FFF;
}
.footer-left {
	color: #ADACAB;
	font-size:9px;
	line-height: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
div.child1-footer a {
	color: #83837F;
	text-decoration:none;
}
div.child2-footer {
	height: 60px;
	width: auto;
	margin-left:480px;
}
